<h1 align=center><font size = 6, color = blue>Model Development</font></h1>

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("klinik_bewertungen_afterWrangling.csv")
df

Index(['Name der Klinik', 'Titel', 'Datum', 'Fachbereich', 'Erfahrungsbericht',
       'Gesamtzufriedenheit', 'Qualität der Beratung', 'Mediz. Behandlung',
       'Verwaltung und Abläufe', 'Ausstattung und Gestaltung', 'Polaritiy',
       'Subjectivity', 'year', 'month', 'day', 'Gesamt', 'Qualität',
       'Behandlung', 'Verwaltung', 'Ausstattung'],
      dtype='object')

In [9]:
df_model=df[['Qualität', 'Behandlung', 'Verwaltung', 'Ausstattung']]
df_model.head(20)

    Qualität  Behandlung  Verwaltung  Ausstattung
0      100.0       100.0       100.0        100.0
1      100.0       100.0       100.0         67.0
2      100.0       100.0       100.0        100.0
3      100.0       100.0        67.0        100.0
4      100.0       100.0       100.0         67.0
5      100.0       100.0       100.0         67.0
6        0.0         0.0         0.0         33.0
7      100.0       100.0       100.0        100.0
8      100.0       100.0       100.0         67.0
9      100.0       100.0        67.0         33.0
10     100.0       100.0       100.0        100.0
11     100.0       100.0       100.0         67.0
12      67.0       100.0        67.0         67.0
13       0.0         0.0         0.0          0.0
14     100.0       100.0       100.0        100.0
15     100.0       100.0       100.0         67.0
16     100.0       100.0        67.0         67.0
17     100.0       100.0       100.0        100.0
18      33.0        33.0         0.0         67.0
19      67.0        33.0        33.0        100.0